In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import re

files = ['itbi2019.xlsx', 'itbi2020.xlsx', 'itbi2021.xlsx', 'itbi2022.xlsx', 'itbi2023.xlsx']

data = pd.DataFrame()

for file in files:
    sheets = [sheet for sheet in pd.read_excel(file, sheet_name=None).keys() if re.match(r'\w{3}-\d{4}',sheet) ]
    df = pd.read_excel(file,sheet_name=sheets)
    for mes in df.keys():
        data = pd.concat([data, df[mes]])

data.to_csv('itbi_data.csv', index=False, sep=';')

In [2]:
data = pd.read_csv('itbi_data.csv', sep=';')

C:\Users\d805664\AppData\Local\Temp\ipykernel_21004\382667148.py:1: DtypeWarning: Columns (2,8,17,19,25,27) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('itbi_data.csv', sep=';')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 604771 entries, 0 to 604770
Data columns (total 28 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   N° do Cadastro (SQL)                              604771 non-null  int64
 1   Nome do Logradouro                                604771 non-null  object
 2   Número                                            604771 non-null  object
 3   Complemento                                       513589 non-null  object
 4   Bairro                                            394772 non-null  object
 5   Referência                                        297002 non-null  object
 6   CEP                                               604770 non-null  float64
 7   Natureza de Transação                             604771 non-null  object
 8   Valor de Transação (declarado pelo contribuinte)  604771 non-null  object
 9   Data de Transação                                 604771 non-null  object
 10  Valor Venal de Referência                         604771 non-null  float64
 11  Proporção Transmitida (%)                         604771 non-null  float64
 12  Valor Venal de Referência (proporcional)          604771 non-null  float64
 13  Base de Cálculo adotada                           604397 non-null  float64
 14  Tipo de Financiamento                             217474 non-null  object
 15  Valor Financiado                                  604770 non-null  float64
 16  Cartório de Registro                              604771 non-null  object
 17  Matrícula do Imóvel                               604771 non-null  object
 18  Situação do SQL                                   604771 non-null  object
 19  Área do Terreno (m2)                              604771 non-null  object
 20  Testada (m)                                       604771 non-null  float64
 21  Fração Ideal                                      604771 non-null  float64
 22  Área Construída (m2)                              604771 non-null  int64
 23  Uso (IPTU)                                        604771 non-null  int64
 24  Descrição do uso (IPTU)                           604771 non-null  object
 25  Padrão (IPTU)                                     604771 non-null  object
 26  ACC (IPTU)                                        604771 non-null  object
 27  ACC (IPTU).1                                      538169 non-null  object
dtypes: float64(8), int64(3), object(17)
memory usage: 129.2+ MB

In [40]:
for col in data.columns:
    print(col)

N° do Cadastro (SQL)
Nome do Logradouro
Número
Complemento
Bairro
Referência
CEP
Natureza de Transação
Valor de Transação (declarado pelo contribuinte)
Data de Transação
Valor Venal de Referência
Proporção Transmitida (%)
Valor Venal de Referência (proporcional)
Base de Cálculo adotada
Tipo de Financiamento
Valor Financiado
Cartório de Registro
Matrícula do Imóvel
Situação do SQL
Área do Terreno (m2)
Testada (m)
Fração Ideal
Área Construída (m2)
Uso (IPTU)
Descrição do uso (IPTU)
Padrão (IPTU)
ACC (IPTU)
ACC (IPTU).1

In [118]:
data1 = data[['CEP','Natureza de Transação','Base de Cálculo adotada','Área do Terreno (m2)', \
                    'Testada (m)', 'Fração Ideal', 'Área Construída (m2)', 'Uso (IPTU)', 'Padrão (IPTU)']]
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 604771 entries, 0 to 604770
Data columns (total 9 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   CEP                      604770 non-null  float64
 1   Natureza de Transação    604771 non-null  object
 2   Base de Cálculo adotada  604397 non-null  float64
 3   Área do Terreno (m2)     604771 non-null  object
 4   Testada (m)              604771 non-null  float64
 5   Fração Ideal             604771 non-null  float64
 6   Área Construída (m2)     604771 non-null  int64
 7   Uso (IPTU)               604771 non-null  int64
 8   Padrão (IPTU)            604771 non-null  object
dtypes: float64(4), int64(2), object(3)
memory usage: 41.5+ MB

In [153]:
data1['Área do Terreno (m2)'] = data1['Área do Terreno (m2)'].apply(pd.to_numeric,errors='coerce')
data1['Padrão (IPTU)'] = data1['Padrão (IPTU)'].apply(pd.to_numeric,errors='coerce')

C:\Users\d805664\AppData\Local\Temp\ipykernel_21004\1507767143.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['Área do Terreno (m2)'] = data1['Área do Terreno (m2)'].apply(pd.to_numeric,errors='coerce')
C:\Users\d805664\AppData\Local\Temp\ipykernel_21004\1507767143.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['Padrão (IPTU)'] = data1['Padrão (IPTU)'].apply(pd.to_numeric,errors='coerce')

In [117]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 604771 entries, 0 to 604770
Data columns (total 9 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   CEP                      604770 non-null  float64
 1   Natureza de Transação    604771 non-null  object
 2   Base de Cálculo adotada  604397 non-null  float64
 3   Área do Terreno (m2)     604770 non-null  float64
 4   Testada (m)              604771 non-null  float64
 5   Fração Ideal             604771 non-null  float64
 6   Área Construída (m2)     604771 non-null  int64
 7   Uso (IPTU)               604771 non-null  int64
 8   Padrão (IPTU)            604771 non-null  object
dtypes: float64(5), int64(2), object(2)
memory usage: 41.5+ MB

In [66]:
dum_transacao = pd.get_dummies(data1['Natureza de Transação'], prefix='transacao')
dum_uso = pd.get_dummies(data1['Uso (IPTU)'], prefix='uso')
dum_padrao = pd.get_dummies(data1['Padrão (IPTU)'], prefix='padrao')
data2 = pd.concat([data1,dum_transacao,dum_padrao, dum_uso], axis=1)
data2.drop(['Natureza de Transação','Uso (IPTU)','Padrão (IPTU)'], axis=1, inplace=True)
data2

,CEP,Base de Cálculo adotada,Área do Terreno (m2),Testada (m),Fração Ideal,Área Construída (m2),transacao_1.Compra e venda,transacao_10.Cessão dos direitos do arrematante,transacao_11.Cessão de direitos de superfície,transacao_12.Dação em pagamento por escritura pública,...,uso_72,uso_73,uso_74,uso_80,uso_81,uso_82,uso_83,uso_84,uso_85,uso_91
0,5083030.0,600000.00,3149.0,70.60,0.0093,133,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,5754070.0,211000.00,107743.0,1158.14,0.0004,81,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,8461460.0,426634.00,250.0,10.00,1.0000,244,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,4516000.0,910000.00,1600.0,40.00,0.0167,162,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,4145030.0,909231.00,4000.0,80.00,0.0158,277,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604766,3134001.0,83618.00,1389.0,54.00,0.0047,34,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
604767,5131050.0,933571.64,600.0,10.00,1.0000,60,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
604768,2319050.0,468750.00,150.0,6.00,1.0000,204,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
604769,3608010.0,178454.50,105.0,15.00,1.0000,191,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
604770,3608010.0,9459.00,21.0,3.00,1.0000,0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [68]:
print(data2.shape)
data2.dropna(inplace=True)
print(data2.shape)

(604771, 145)
(604396, 145)

In [69]:
#Train test split
from sklearn.model_selection import train_test_split

X = data2.drop('Base de Cálculo adotada', axis=1)
y = data2['Base de Cálculo adotada']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=42)

#Model
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

#Evaluation
from sklearn.metrics import mean_absolute_error, mean_squared_error

pred = model.predict(X_test)

print('MAE: ', mean_absolute_error(y_test, pred))
print('MSE: ', mean_squared_error(y_test, pred))
print('RMSE: ', np.sqrt(mean_squared_error(y_test, pred)))

MAE:  228162.68970092435
MSE:  4920467727770.211
RMSE:  2218212.732758112

In [72]:
#Print the Mean Percentage Error (MAPE)
def mean_absolute_percentage_error(y_test, pred):
    return np.mean(np.abs((y_test - pred) / y_test)) * 100

print('MAPE: ', mean_absolute_percentage_error(y_test, pred))

#Print the R2 Score
from sklearn.metrics import r2_score

print('R2: ', r2_score(y_test, pred))

#Save the model
import pickle
pickle.dump(model, open('itbi_model.pkl', 'wb'))

#Load the model
model = pickle.load(open('itbi_model.pkl', 'rb'))

MAPE:  inf
R2:  0.4835622206172835

In [110]:
data3 = data2[(data2['uso_20'] == True) & (data2['transacao_1.Compra e venda'] == True)]
data3.shape

(241045, 145)

In [111]:
#Train test split
from sklearn.model_selection import train_test_split

X3 = data3.drop('Base de Cálculo adotada', axis=1)
y3 = data3['Base de Cálculo adotada']

X3_train, X3_test, y3_train, y3_test = train_test_split(X3,y3,test_size=0.3, random_state=42)

#Model
from sklearn.ensemble import RandomForestRegressor

model3 = RandomForestRegressor(n_estimators=100, random_state=42)
model3.fit(X3_train, y3_train)

#Evaluation
from sklearn.metrics import mean_absolute_error, mean_squared_error

pred3 = model3.predict(X3_test)

print('MAE: ', mean_absolute_error(y3_test, pred3))
print('MSE: ', mean_squared_error(y3_test, pred3))
print('RMSE: ', np.sqrt(mean_squared_error(y3_test, pred3)))

MAE:  135206.7739357368
MSE:  235240983519.22278
RMSE:  485016.47757496114

In [112]:
#Print the Mean Percentage Error (MAPE)
def mean_absolute_percentage_error(y3_test, pred3):
    return np.mean(np.abs((y3_test - pred3) / y3_test)) * 100

print('MAPE: ', mean_absolute_percentage_error(y3_test, pred3))

#Print the R2 Score
from sklearn.metrics import r2_score

print('R2: ', r2_score(y3_test, pred3))

#Save the model
import pickle
pickle.dump(model3, open('itbi_model3.pkl', 'wb'))

#Load the model
model3 = pickle.load(open('itbi_model3.pkl', 'rb'))

MAPE:  inf
R2:  0.7826862134172132

In [113]:
X3_test.head()

,CEP,Área do Terreno (m2),Testada (m),Fração Ideal,Área Construída (m2),transacao_1.Compra e venda,transacao_10.Cessão dos direitos do arrematante,transacao_11.Cessão de direitos de superfície,transacao_12.Dação em pagamento por escritura pública,transacao_14.Mandato em causa própria,...,uso_72,uso_73,uso_74,uso_80,uso_81,uso_82,uso_83,uso_84,uso_85,uso_91
126587,3280050.0,4460.0,13.65,0.0064,93,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
582235,4546900.0,6000.0,0.00,0.0035,129,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
514586,1124000.0,4192.0,33.33,0.0036,61,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
423120,1226011.0,1883.0,29.00,0.0036,54,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
62440,4567000.0,2000.0,50.00,0.0043,88,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [154]:
data1.shape

(604771, 9)

In [155]:
data1['Padrão (IPTU)'].unique()

array([22., 12., 23., 24., 44., 25., 11., 10.,  0., 83., 32., 13., 84.,
       43., 20., 21., 81., 31., 33., 42., 82., 45., 14., 41., 91., 34.,
       85., 93., 15., 92., 35., 94., nan])

In [156]:
#dum_transacao = pd.get_dummies(data1['Natureza de Transação'], prefix='transacao')
#dum_uso = pd.get_dummies(data1['Uso (IPTU)'], prefix='uso')
dum_padrao = pd.get_dummies(data1['Padrão (IPTU)'], prefix='padrao')
data4 = pd.concat([data1,dum_padrao], axis=1)
data4 = data4[(data4['Natureza de Transação'] == '1.Compra e venda') & (data4['Uso (IPTU)'] == 20)]
data4.drop(['Natureza de Transação','Uso (IPTU)','Padrão (IPTU)'], axis=1, inplace=True)
print(data4.shape)
data4.dropna(inplace=True)
print(data4.shape)

(241106, 38)
(241045, 38)

In [157]:
#Train test split
from sklearn.model_selection import train_test_split

X4 = data4.drop('Base de Cálculo adotada', axis=1)
y4 = data4['Base de Cálculo adotada']

X4_train, X4_test, y4_train, y4_test = train_test_split(X4,y4,test_size=0.3, random_state=42)

#Model
from sklearn.ensemble import RandomForestRegressor

model4 = RandomForestRegressor(n_estimators=100, random_state=42)
model4.fit(X4_train, y4_train)

#Evaluation
from sklearn.metrics import mean_absolute_error, mean_squared_error

pred4 = model4.predict(X4_test)

print('MAE: ', mean_absolute_error(y4_test, pred4))
print('MSE: ', mean_squared_error(y4_test, pred4))
print('RMSE: ', np.sqrt(mean_squared_error(y4_test, pred4)))

MAE:  135149.82397381117
MSE:  233173245856.91382
RMSE:  482880.15682663315

In [158]:
#Print the Mean Percentage Error (MAPE)
def mean_absolute_percentage_error(y4_test, pred4):
    return np.mean(np.abs((y4_test - pred4) / y4_test)) * 100

print('MAPE: ', mean_absolute_percentage_error(y4_test, pred4))

#Print the R2 Score
from sklearn.metrics import r2_score

print('R2: ', r2_score(y4_test, pred4))

#Save the model
import pickle
pickle.dump(model4, open('itbi_model4.pkl', 'wb'))

#Load the model
model4 = pickle.load(open('itbi_model4.pkl', 'rb'))

MAPE:  inf
R2:  0.7845963733491006

In [136]:
import json
json.dumps(X4_test.iloc[0].to_dict())

'{"CEP": 3280050.0, "\\u00c1rea do Terreno (m2)": 4460.0, "Testada (m)": 13.65, "Fra\\u00e7\\u00e3o Ideal": 0.0064, "\\u00c1rea Constru\\u00edda (m2)": 93, "padrao_0": false, "padrao_10": false, "padrao_11": false, "padrao_12": false, "padrao_13": false, "padrao_14": false, "padrao_15": false, "padrao_20": false, "padrao_21": false, "padrao_22": false, "padrao_23": false, "padrao_24": false, "padrao_25": false, "padrao_31": false, "padrao_32": false, "padrao_33": false, "padrao_34": false, "padrao_35": false, "padrao_41": false, "padrao_42": false, "padrao_43": false, "padrao_44": false, "padrao_45": false, "padrao_81": false, "padrao_82": false, "padrao_83": false, "padrao_84": false, "padrao_85": false, "padrao_91": false, "padrao_92": false, "padrao_93": false, "padrao_94": false, "padrao_TERRENO": false}'

In [159]:
model4.predict(np.array(X4_test.iloc[0]).reshape(1, -1))

c:\Users\d805664\Documents\itbi\itbi\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([243259.47491508])

In [160]:
X4_test.columns

Index(['CEP', 'Área do Terreno (m2)', 'Testada (m)', 'Fração Ideal',
       'Área Construída (m2)', 'padrao_0.0', 'padrao_10.0', 'padrao_11.0',
       'padrao_12.0', 'padrao_13.0', 'padrao_14.0', 'padrao_15.0',
       'padrao_20.0', 'padrao_21.0', 'padrao_22.0', 'padrao_23.0',
       'padrao_24.0', 'padrao_25.0', 'padrao_31.0', 'padrao_32.0',
       'padrao_33.0', 'padrao_34.0', 'padrao_35.0', 'padrao_41.0',
       'padrao_42.0', 'padrao_43.0', 'padrao_44.0', 'padrao_45.0',
       'padrao_81.0', 'padrao_82.0', 'padrao_83.0', 'padrao_84.0',
       'padrao_85.0', 'padrao_91.0', 'padrao_92.0', 'padrao_93.0',
       'padrao_94.0'],
      dtype='object')

In [142]:
np.array(X4_test.iloc[0]).reshape(1, -1)

array([[3280050.0, 4460.0, 13.65, 0.0064, 93, False, False, False, False,
        False, False, False, False, False, True, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False]], dtype=object)